/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

/* Intro Page */
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(120deg, #4CAF50, #388e3c);
  overflow: hidden;
}

.intro-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-content h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-out;
}

#startButton {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #2e7d32;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startButton:hover {
  background-color: #1b5e20;
}

/* Main Content */
.container {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

/* qna */
.question {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

label {
  flex: 1;
  font-weight: bold;
  margin-left: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-size: 16px;
}

.result strong {
  color: #333;
}

/*result.html */
.result-container {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-container h2 {
  color: #4CAF50;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.result-container p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px; 
  position: relative;
  width: 100%; 
}

h1 {
  font-size: 1.8rem; 
  color: #4CAF50; 
  margin-left: 15px; 
  margin: 20px 0;
}

.back-button {
  position: absolute; 
  left: 10px; 
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #4CAF50; 
}

.back-button:hover {
  color: #1b5e20; 
}

